#NET clk_i loc = "P199";  ##2
NET clk_i loc = "P84";   ##1
#NET clk_i loc = "P87";   ##0
#NET clk_i loc = "P202";  ##3

NET B0_IO<0> loc = "P204";
NET B0_IO<1> loc = "P205";
NET B0_IO<2> loc = "P206";
NET B0_IO<3> loc = "P207";
NET B0_IO<4> loc = "P208";
NET B0_IO<5> loc = "P209";
NET B0_IO<6> loc = "P211";
NET B0_IO<7> loc = "P212";
NET B0_IO<8> loc = "P213";
NET B0_IO<9> loc = "P216";
NET B0_IO<10> loc = "P217";
NET B0_IO<11> loc = "P218";
NET B0_IO<12> loc = "P219";
NET B0_IO<13> loc = "P220";
NET B0_IO<14> loc = "P222";
NET B0_IO<15> loc = "P223";
NET B0_IO<16> loc = "P224";
NET B0_IO<17> loc = "P225";
NET B0_IO<18> loc = "P226";
NET B1_IO<0> loc = "P177";
NET B1_IO<1> loc = "P178";
NET B1_IO<2> loc = "P179";
NET B1_IO<3> loc = "P181";
NET B1_IO<4> loc = "P182";
NET B1_IO<5> loc = "P183";
NET B1_IO<6> loc = "P184";
NET B1_IO<7> loc = "P185";
NET B1_IO<8> loc = "P188";
NET B1_IO<9> loc = "P189";
NET B1_IO<10> loc = "P190";
NET B1_IO<11> loc = "P192";
NET B1_IO<12> loc = "P193";
NET B1_IO<13> loc = "P194";
NET B1_IO<14> loc = "P195";
NET B1_IO<15> loc = "P196";
NET B1_IO<16> loc = "P197";
NET B1_IO<17> loc = "P198";
NET B2_IO<0> loc = "P144";
NET B2_IO<1> loc = "P145";
NET B2_IO<2> loc = "P146";
NET B2_IO<3> loc = "P147";
NET B2_IO<4> loc = "P149";
NET B2_IO<5> loc = "P150";
NET B2_IO<6> loc = "P151";
NET B2_IO<7> loc = "P153";
NET B2_IO<8> loc = "P154";
NET B2_IO<9> loc = "P159";
NET B2_IO<10> loc = "P160";
NET B2_IO<11> loc = "P161";
NET B2_IO<12> loc = "P162";
NET B2_IO<13> loc = "P164";
NET B2_IO<14> loc = "P165";
NET B2_IO<15> loc = "P166";
NET B2_IO<16> loc = "P167";
NET B3_IO<0> loc = "P119";
NET B3_IO<1> loc = "P120";
NET B3_IO<2> loc = "P121";
NET B3_IO<3> loc = "P122";
NET B3_IO<4> loc = "P124";
NET B3_IO<5> loc = "P125";
NET B3_IO<6> loc = "P126";
NET B3_IO<7> loc = "P127";
NET B3_IO<8> loc = "P132";
NET B3_IO<9> loc = "P134";
NET B3_IO<10> loc = "P135";
NET B3_IO<11> loc = "P136";
NET B3_IO<12> loc = "P138";
NET B3_IO<13> loc = "P139";
NET B3_IO<14> loc = "P141";
NET B4_IO<0> loc = "P88";
NET B4_IO<1> loc = "P89";
NET B4_IO<2> loc = "P90";
NET B4_IO<3> loc = "P91";
NET B4_IO<4> loc = "P92";
NET B4_IO<5> loc = "P93";
NET B4_IO<6> loc = "P94";
NET B4_IO<7> loc = "P96";
NET B4_IO<8> loc = "P97";
NET B4_IO<9> loc = "P98";
NET B4_IO<10> loc = "P101";
NET B4_IO<11> loc = "P102";
NET B4_IO<12> loc = "P103";
NET B4_IO<13> loc = "P104";
NET B4_IO<14> loc = "P105";
NET B4_IO<15> loc = "P107";
NET B4_IO<16> loc = "P108";
NET B4_IO<17> loc = "P109";
NET B4_IO<18> loc = "P110";
NET B4_IO<19> loc = "P111";
NET B4_IO<20> loc = "P112";
NET B5_IO<0> loc = "P60";
NET B5_IO<1> loc = "P61";
NET B5_IO<2> loc = "P62";
NET B5_IO<3> loc = "P63";
NET B5_IO<4> loc = "P64";
NET B5_IO<5> loc = "P65";
NET B5_IO<6> loc = "P67";
NET B5_IO<7> loc = "P68";
NET B5_IO<8> loc = "P69";
NET B5_IO<9> loc = "P70";
NET B5_IO<10> loc = "P71";
NET B5_IO<11> loc = "P74";
NET B5_IO<12> loc = "P75";
NET B5_IO<13> loc = "P77";
NET B5_IO<14> loc = "P78";
NET B5_IO<15> loc = "P79";
NET B5_IO<16> loc = "P80";
NET B5_IO<17> loc = "P81";
NET B5_IO<18> loc = "P82";
NET B6_IO<0> loc = "P29";
NET B6_IO<1> loc = "P31";
NET B6_IO<2> loc = "P32";
NET B6_IO<3> loc = "P33";
NET B6_IO<4> loc = "P34";
NET B6_IO<5> loc = "P35";
NET B6_IO<6> loc = "P36";
NET B6_IO<7> loc = "P38";
NET B6_IO<8> loc = "P39";
NET B6_IO<9> loc = "P40";
NET B6_IO<10> loc = "P43";
NET B6_IO<11> loc = "P44";
NET B6_IO<12> loc = "P45";
NET B6_IO<13> loc = "P46";
NET B6_IO<14> loc = "P47";
NET B6_IO<15> loc = "P49";
NET B6_IO<16> loc = "P50";
NET B6_IO<17> loc = "P51";
NET B6_IO<18> loc = "P52";
NET B6_IO<19> loc = "P53";
NET B6_IO<20> loc = "P54";
NET B7_IO<0> loc = "P3";
NET B7_IO<1> loc = "P4";
NET B7_IO<2> loc = "P5";
NET B7_IO<3> loc = "P6";
NET B7_IO<4> loc = "P7";
NET B7_IO<5> loc = "P9";
NET B7_IO<6> loc = "P10";
NET B7_IO<7> loc = "P11";
NET B7_IO<8> loc = "P12";
NET B7_IO<9> loc = "P13";
NET B7_IO<10> loc = "P16";
NET B7_IO<11> loc = "P17";
NET B7_IO<12> loc = "P19";
NET B7_IO<13> loc = "P20";
NET B7_IO<14> loc = "P21";
NET B7_IO<15> loc = "P22";
NET B7_IO<16> loc = "P23";
NET B7_IO<17> loc = "P24";
NET B7_IO<18> loc = "P25";
NET B7_IO<19> loc = "P26";
#NET GCK<0> loc = "P87";
#NET GCK<1> loc = "P84";
#NET GCK<2> loc = "P199";
#NET GCK<3> loc = "P202";
